body {
    background: #F7F5E5;
    margin: 40px;

}

header {
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
    background-color: #394B5A;
    border-radius: 18px;
    display: flex;
    align-items: center;
}

/*Nav*/

nav {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;

}

nav a{
    padding: 10px 14px;
    text-decoration: none;



}
nav a:hover{
    background-color: #DFDDCF;
    border: #394B5A 3px solid;
    border-radius: 18px;
    /*justify-content: center;*/

}
.nav-active {
    background-color: #DFDDCF;
    border: #394B5A 3px solid;
    border-radius: 18px;

}
.nav-icon {
    justify-content: center;
}
.nav-icon img{
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
    /*display: block;*/
}
.nav-text {
    justify-content: center;
    font-family: "Roboto Mono", serif;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    color: #394B5A;
    text-decoration: none;
    padding-top: 5px;
    white-space: nowrap;

}


.img-profile {
    border-radius: 18px;
    align-self: center;
    width: 100%;


}

h1 {
    font-family: Teko, sans-serif;
    font-weight: 400;
    margin-top: 5px;
    /*margin-bottom: -4vw;*/
    font-size: 11vw;
    color: #394B5A;
    letter-spacing: -4px;
    text-align: left;
}

h3 {
    font-family: "Teko", sans-serif;
    color: #F7F5E5;
    font-weight: 500;
    letter-spacing: 1px;
}

p{
    font-family: "Roboto Mono", serif;
    color: #394B5A;
    font-size: 3.3vw;
    line-height: 26px;
    text-align: left;
    margin-top: -9vw;
}

.p2{
    font-family: "Teko", sans-serif;
    color: #394B5A;
    font-size: 25px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 25px;
}

h4 {
    font-family: "Teko", sans-serif;
    color: #F7F5E5;
    font-weight: 500;
}

.dark-bg {
    height: auto;
    max-width: 1050px;
    padding: 50px;
    justify-content: center;
    background-color: #394B5A;
    border-radius: 18px;
    margin-top: 50px;
}

h2 {
    font-family: "Roboto Mono", serif;
    font-size: 29pt;
    font-weight: 400;

}

.hero {
    padding: 30px 125px 125px;
}

.folder-inactive {
    background-color: #788F9F;
    width: 1147px;
    height: 741px;
    border-radius: 0 18px 18px 18px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.folder-tab-inactive {
    height: 85px;
    width: 305px;
    justify-content: center;
    background-color: #788F9F;
    border-radius: 18px 18px 0 0;
    display: flex;
    align-items: center;
}

.content {
    background-color: #F7F5E5;
    width: 1055px;
    height: 649px;
    border-radius: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px -7px rgba(0, 0, 0, 0.15);
}

/*Folders*/
#folder {
    justify-items: center;
    margin-top: 200px;
    height: 729px ;
    width: auto;
}
.tab-active {
    height: 85px;
    width: 305px;
    justify-content: center;
    border-radius: 18px 18px 0 0;
    display: flex;
    align-items: center;
    background-color: #788F9F
}

.file-active {
    background-color: #788F9F;
    width: 1147px;
    height: 700px;
    border-radius: 0 18px 18px 18px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.item2 {
    margin-top: -141px;
    padding: 70px;

}

.grid-container-pg {
    display: grid;
    grid-template-columns:auto auto;
}
.grid-container-pg > div {
    padding-right: 260px;

}

.img-display {
    background-color: #394B5A;
    border-radius: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 6vw;
    display: grid;
    gap: 2vw;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);

    /*justify-items: center;*/

    grid-template-areas:
    "box-1 box-1 box-2 box-3"
    "box-1 box-1 box-4 box-5"
    "box-6 box-6 box-7 box-7"
    "box-6 box-6 box-7 box-7"
    "box-6 box-6 box-10 box-10"
    "box-8 box-8 box-10 box-10"
    "box-8 box-8 box-9 box-9"
    "box-8 box-8 box-9 box-9"
}

.img-display img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: block;
    object-fit: cover;
}


.box{
}

.img-display2 {
    background-color: #394B5A;
    border-radius: 18px;
    margin-top: 50px;
    padding: 6vw;
    display: grid;
    gap: 2vw;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
    "box-1 box-1"
    "box-2  box-3"
    "box-4  box-4"
}

.img-display2 img {
    width: 100%;
    max-height: 470px;
    display: block;
    object-fit: cover;
}

.img-display3 {
    background-color: #394B5A;
    border-radius: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 6vw;
    display: grid;
    gap: 2vw;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);

    /*justify-items: center;*/

    grid-template-areas:
    "box-1 box-2"
    "box-3 box-3"
    "box-4  box-5"
    "box-6  box-6"
    "box-7  box-8"
}

.img-display3 img {
    width: 100%;
    max-height: 42vw;
    height: 100%;
    aspect-ratio: 1;
    display: block;
    object-fit: cover;
    overflow: hidden;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 12vw;
    margin-top: 50px;
}

.grid-item {
    display: flex;
    justify-content: center;
    background-color: #788F9F;
    color: #F7F5E5;
    border-radius: 15px 15px 0 0;
    padding: 2vw;
    font-family: "Roboto Mono", serif;
    font-size: 7vw;
    font-weight: 400;
}

.folder-contact {
    height: auto;
    margin-top: 100px;
    border-radius: 18px;
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas:
    "box-1"
    "box-2"

}
.folder-shit {
    background-color: #788F9F;
    margin-top: 2vw;
    padding: 5vw;
    height: auto;
    border-radius: 0 18px 18px 18px;
}

.contact {
    background-color: #F7F5E5;
    height: auto;
    padding: 4vw;
    border-radius: 18px;
    display: grid;
}

.contact-text {
    font-family: "Teko", sans-serif;
    color: #B91139;
    font-size: 7vw;
    line-height: 8vw;
    letter-spacing: 1px;
    margin-top: auto;
    margin-bottom: -28px;
}

input[type=text], select, textarea {
    background-color: #DFDDCF;
    width: 100%;
    padding: 2vw;
    border: 2px solid #AFBFCA;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 20px;
}

input[type=submit] {
    background-color: #788F9F;
    color: #F7F5E5;
    font-size: 6vw;
    width: 100%;
    padding: 12px 40px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #394B5A;
    color: #F7F5E5;
}


input, textarea {
    font-family: "Roboto Mono", serif;
    font-weight: 400;
    font-size: 16px;
    color: #394B5A;
}

label {
    font-family: "Roboto Mono", serif;
    font-weight: 400;
    font-size: 4vw;
    color: #394B5A;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas:
    "box-1 box-1"
    "box-2 box-3"
}

/*Mobile Devices*/
@media screen and (min-width: 320px) and (max-width: 480px) {

    body {
        margin: 20px;
    }
    header {
        height: 65px;
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
    }
    h1 {
        font-size: 16vw;
    }
    h3 {
        font-size: 23px;
    }

    p{
        font-size: 13px;
    }

    nav {
        margin-top: 15px;
        margin-bottom: 15px;

    }
    nav a:hover{
        border: #394B5A 2px solid;

    }

    .nav-active {
        border: #394B5A 2px solid;

    }
    .nav-text {
        font-size: 2.5vw;
    }

    .grid-item {
        font-size: 7vw;
        padding: 3vw;
    }
    .contact-text {
        display: none;
    }

}

/*Tablets*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        margin: 20px;
    }
    header {
        height: 65px;
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
    }
    h3 {
        font-size: 23px;
    }
    p{
        font-size: 15px;
    }

    nav {
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-between;

    }
    .nav-icon img{
        max-width: 75px;
        max-height: 75px;
    }
    .grid-item {
            font-size: 29px;
            padding: 3vw;
    }
    .folder-shit {
        margin-top: 0;
    }
    .contact-text {
        display: none;
    }
}

    /*Small Desktops*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        height: 85px;
        padding-left: 40px;
        padding-right: 40px;
        align-items: center;

    }
    h1 {
        font-size: 109px;
        margin-top: -36px;
    }

    h3 {
        font-size: 36px;
    }

    p {
        font-size: 15px;
        margin-top: -10vw;
    }

    nav {
        margin-top: 3vw;
        margin-bottom: 3vw;
        justify-content: space-between;
    }
    .nav-icon img {
        max-width: 100px;
        max-height: 100px;
    }

    .nav-text {
        font-size: 20.975px;

    }
    .img-profile {
        width: 350px;
    }
    .hero-grid {
        display: grid;
        grid-template-columns:auto auto;
        gap: 7vw;
        margin-top: 50px
    }

    .hero-grid > div {
        font-size: 30px;
        text-align: left;

    }
    .grid-container {
        height: 70px;
    }
    .grid-item {
        font-size: 5vw;
    }

    .folder-shit {
        margin-top: 0;
    }
    .contact {
        padding: 8vw;
    }
    label {
        font-size: 20px;
    }
    input[type=text], select, textarea {
        height: 64px;
    }
    .contact-text {
        display: none;
    }
}


/*Large Desktop*/
@media screen and (min-width: 1025px) {
    header {
        height: 85px;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;
        align-items: center;
    }

    nav {
        display: grid;
        grid-template-rows: auto auto;
        justify-content: right;
        align-items: center;
        max-width: 1380px;
        margin: 50px auto;

        width: 100%;
    }
    nav a{
        padding: 16px 20px;

    }
    .nav-active {
        border: #394B5A 4px solid;

    }

    nav a:hover{
        border: #394B5A 4px solid;

    }
    .nav-text {
        font-size: 20.975px;

    }

    h1 {
        font-size: 158px;
        margin-top: -35px;
    }

    h3 {
        font-size: 36px;
    }
    p {
        font-size: 15px;
        margin-top: -154px;
    }
    .grid-container {
        height: 70px;
    }
    .grid-item {
        font-size: 55px;
    }

    .hero-grid {
        display: grid;
        grid-template-columns:auto auto;
        gap: 70px;
        margin-top: 50px
    }

    .hero-grid > div {
        margin: auto;
        font-size: 30px;
        text-align: left;

    }

    .main-grid {
        display: grid;
        grid-template-columns:auto auto;
        gap: 50px;
        margin: 0 auto;
        max-width: 1380px;
    }

    .box1 {
        order: 2;
    }

    .box2 {
        order: 1;
    }
    .img-profile {
        width: 36vw;
        max-width: 472px;
    }
    .folder-shit {
        margin-top: 43px;
    }
    label {
        font-size: 20px;
    }

    .contact {
        display: grid;
        grid-template-columns:auto auto;
    }
    .contact-text {
        font-size: 110px;
        line-height: 130px;

    }

    input[type=submit] {
        font-size: 2vw;
        width: 19vw;
    }

    input[type=text], selecxt, textarea {
        height: 45px;
        padding: 1.5vw;
    }
    .img-display {
        padding: 50px;
    }
}
