.bg-color{
    background-color:#F7F5E5;
}
.button-active {
    border-radius: 18px;
    background-color: #DFDDCF;
    border: 3px solid #394B5A;
    width: 174px;
    height: 174px;
    justify-content: center;
}


.button:hover {
    border-radius: 18px;
    background-color: #DFDDCF;
    border: 3px solid #394B5A;
    width: 174px;
    height: 174px;
}
.button {
    border: 3px solid transparent;
    background-color: transparent;
    width: 174px;
    height: 174px;
    justify-content: center;

}

@font-face {
    font-family: "Roboto Mono";
    src: local("fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");

}

@font-face {
    font-family: "Teko";
    src: local("fonts/Teko/Teko-VariableFont_wght.ttf");
}

p1{
    font-family: "Roboto Mono", serif;
    color: #394B5A;
    font-size: 13px;
    lettering-spacing: 0.5;
    text-align: left;
}

a {
    text-decoration: none;
}

.file-image{
    opacity: 80%;
    max-width: 114px;
    justify-content: center;
}

h4 {
    font-family: "Teko", sans-serif;
    color: #F7F5E5;
    font-weight: 500;
}

.header {
    margin: 50px 70px;

}

.header-bar {
    height: 85px;
    /*max-width: 1300px;*/
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    background-color: #394B5A;
    border-radius: 18px;
    display: flex;
    align-items: center;
}

.dark-bg {
    height: auto;
    max-width: 1050px;
    padding: 50px;
    justify-content: center;
    background-color: #394B5A;
    border-radius: 18px;
    margin-top: 50px;
}


h1 {
    font-family: Teko, sans-serif;
    font-weight: 400;
}

h2 {
    font-family: "Roboto Mono", serif;
    font-size: 29pt;
    font-weight: 400;

}

nav {
    float: right;
    max-width: 1440px;
}

.grid-container-nav {
    display: grid;
    grid-template-rows:auto auto;
}
.grid-container-nav > div {
    font-size: 30px;
    text-align: center;
    padding: 0;

}
.nav1 {
    justify-content: center;
}
.nav2 {
    font-weight: 600;
    justify-content: center;
    padding-top: 12px;
 }

.nav-button {
    margin-top: -141px;
    padding: 70px;

}

.profile-img {
    height: 400px;
    width: auto;
    border-radius: 18px;

}
.profile-bio {
}

.hero {
    padding: 30px 125px 125px;
}

main {
    margin: 50px 70px;
}

.folder-inactive {
    background-color: #788F9F;
    width: 1147px;
    height: 741px;
    border-radius: 0 18px 18px 18px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.folder-tab-inactive {
    height: 85px;
    width: 305px;
    justify-content: center;
    background-color: #788F9F;
    border-radius: 18px 18px 0 0;
    display: flex;
    align-items: center;
}

.content {
    background-color: #F7F5E5;
    width: 1055px;
    height: 649px;
    border-radius: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px -7px rgba(0, 0, 0, 0.15);
}

/*Folders*/
#folder {
    justify-items: center;
    margin-top: 200px;
    height: 729px ;
    width: auto;
}
.tab-active {
    height: 85px;
    width: 305px;
    justify-content: center;
    border-radius: 18px 18px 0 0;
    display: flex;
    align-items: center;
    background-color: #788F9F
}

.file-active {
    background-color: #788F9F;
    width: 1147px;
    height: 700px;
    border-radius: 0 18px 18px 18px;
    justify-content: center;
    display: flex;
    align-items: center;

}
.grid-container-index {
    display: grid;
    grid-template-columns:auto auto;
}
.grid-container-index > div {
    font-size: 30px;
    text-align: left;

}

.item2 {
    margin-top: -141px;
    padding: 70px;

}

.grid-container-pg {
    display: grid;
    grid-template-columns:auto auto;
}
.grid-container-pg > div {
    padding-right: 260px;

}

.img-display {
    background-color: #394B5A;
    border-radius: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 964px;
    padding: 50px;
    display: grid;
    gap: 25px;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);

    /*justify-items: center;*/

    grid-template-areas:
    "box-1 box-1 box-2 box-3"
    "box-1 box-1 box-4 box-5"
    "box-6 box-6 box-7 box-7"
    "box-6 box-6 box-7 box-7"
    "box-6 box-6 box-10 box-10"
    "box-8 box-8 box-10 box-10"
    "box-8 box-8 box-9 box-9"
    "box-8 box-8 box-9 box-9"
}

.img-display img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: block;
    object-fit: cover;
}


.box{
}

.img-display2 {
    background-color: #394B5A;
    border-radius: 18px;
    margin-top: 50px;
    max-width: 964px;
    padding: 50px;
    display: grid;
    gap: 25px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);

    /*justify-items: center;*/

    grid-template-areas:
    "box-1 box-1"
    "box-2  box-3"
    "box-4  box-4"
}

.img-display2 img {
    width: 100%;
    max-height: 470px;
    /*aspect-ratio: 1;*/
    display: block;
    object-fit: cover;
}

.p2{
    font-family: "Teko", sans-serif;
    color: #394B5A;
    font-size: 26px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 50px;
}

.folder-shit {
    background-color: #788F9F;
    width: 1147px;
    height: 660px;
    border-radius: 18px;

}

.folder-shit-tab {
    background-color: #394B5A;
    width: 305px;
    height: 69px;
    border-radius: 18px;
    justify-content: center;
}

/*.img-display2 img {*/
/*    width: 100%;*/
/*    max-height: 470px;*/
/*    aspect-ratio: 1;*/
/*    display: block;*/
/*    object-fit: cover;*/
/*}*/
